.categoryBrands {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .title {
    width: 90%;
    margin: 0 auto;
  }
  .form {
    width: 90%;
    margin: 0 auto;
    .label {
      display: flex;
      flex-direction: row;
      align-content: space-between;

      input{
        margin: auto 0;
        font-size: 200%;
      }

      span{
          padding: 0 1rem;
      }
    }
  }
}
